body {
  margin: 0;
  background-image: url(../img/genius.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#genius {
  display: grid;
  grid-template-areas: 'verde vermelho' 'amarelo azul';
  grid-gap: 10px;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 100%;
  margin-top: 10%;
  width: 350px;
  height: 350px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 9);

}

#azul {
  grid-area: azul;
  background-color: blue;
  border: 1px solid black;
  padding: 0.5rem;
  border-bottom-right-radius: 100%;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 2);

}

#vermelho {
  grid-area: vermelho;
  background-color: red;
  border: 1px solid black;
  padding: 0.5rem;
  border-top-right-radius: 100%;
  box-shadow: 1px -1px 5px 2px rgba(0, 0, 0, 2);
}

#amarelo {
  grid-area: amarelo;
  background-color: yellow;
  border: 1px solid black;
  padding: 0.5rem;
  border-bottom-left-radius: 100%;
  box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 2);
}

#verde {
  grid-area: verde;
  background-color: green;
  border: 1px solid black;
  padding: 0.5rem;
  border-top-left-radius: 100%;
  box-shadow: -1px -1px 5px 2px rgba(0, 0, 0, 2);
}

.selecionado {
  opacity: 0.5;
}

footer {
  margin-top: 3rem;
  text-align: center;
  font-size: 20px;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  opacity: 0.5;
}

@media(max-width: 800px) {

  #genius {
    grid-gap: 5px;
    width: 300px;
    height: 300px;
    border: 5px solid white;
  }


}